<%=form_for @device, remote: true, id: 'batform-sm' do |f|%>
<table class="batform">
	<tr>
      <th><%= f.label 'Name ' %></th>
      <td><strong><%= @device.name %></strong>
		   <%=@device.device_type.try(:name) ? "(#{@device.device_type.name})" : "" %></td>
  </tr>
  
  <tr>
	  <th><%= f.label :voltage %></th>
	  <td><%= f.number_field :voltage, {min: 0, max: 24, step: 0.1} %></td>
  </tr>
  
  <tr>
	  <th><%= f.label :notes %></th>
	  <td><%= f.text_area :notes%></td>
  </tr>
  
</table>
<em>Last updated <%=time_ago_in_words(@device.updated_at)%> ago.</em>
<% end %>