<h1>Managing Device Types</h1>
<table>
	<tr>
		<th>Model</th><th>Make</th><th>Notes</th><th>Actions</th>
	</tr>
	<%@device_types.each do |dt| %>
	<tr>
		<td><%=dt.name%></td><td><%=dt.brand%></td><td><%=dt.notes%></td><td>
			<%= link_to "<div class='btn-sm btn-default' style='display:inline'><span class='glyphicon glyphicon-pencil'> Edit </span></div>".html_safe, edit_device_type_path(dt) %>
			<%= link_to "<div class='btn-sm btn-default' style='display:inline'><span class='glyphicon glyphicon-trash'> Delete </span></div>".html_safe, device_type_path(dt), method: :delete, data: {:confirm=> "Are you sure?" }%>

		</td>
	</tr>
	<%end%>
</table>