<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Active Projects</h3>
	<%=link_to "<div class='btn-header btn-sm btn-default pull-right'><span class='glyphicon glyphicon-plus'></span> New Project</div>".html_safe, new_project_path %>
	<%=link_to "<div class='btn-header btn-sm btn-default pull-right'><span class='glyphicon glyphicon-list'></span> View All</div>".html_safe, projects_path %>
  </div>
  <div class="panel-body">  
  <div id="deployment_message" class='alert alert-success alert-dismissible' role='alert' style="display:none">
  	
  </div>

    <% @projects.each do |p| %>
	    <div class='panel panel-default'>
		  <div class='panel-heading'>
		    <%=p.name%><span class='dates'><i><%=p.start_date.strftime('%D')%> - <%=p.end_date.strftime('%D')%></i></span>
		    <%=link_to "<div class='btn-header btn-sm btn-default pull-right'><span class='glyphicon glyphicon-edit'></span></div>".html_safe, edit_project_path(p) %>
		    <%=link_to "<div class='btn-header btn-sm btn-default pull-right'><span class='glyphicon glyphicon-remove-circle'></span></div>".html_safe, archive_project_path(p), 
		    method: :patch, :data => { confirm: (p.deployments.empty? ? "Are you sure you wish to deactivate this project?" : "This will deactivate the project, and make available any batteries deployed in this project.  Their deployment end date for this project will auomatically be set to today's date.  You'll also still need to update voltages manually. Are you sure?") }%>
		  </div>
		  <div class='panel-body'>
		    <div class='project' id ='project-<%=p.id%>' data-project='<%=p.id%>'>
		      <% p.active_deployments.each do |d| %>
	            <%=render 'devices/battery', {:d => d.device}%>
			  <%end%>
			</div>
		  </div>
		
		</div>
	<%end%>
  </div>
</div>
<%=render 'deployments/hidden_form'%>