<%=form_for @deployment, remote: true, id: 'depform-sm' do |f|%>
<table class="batform">
  <tr>
      <th><%= f.label 'Battery Name' %></th>
      <td><%= @deployment.device.name %>
		  <em><span style='margin-left: .3em'><%=@deployment.device.device_type.try(:name) ? "(#{@deployment.device.device_type.name})" : "" %></span></em>
	  </td>
  </tr>
  <tr>
	  <th>
		  Project name
	  </th>
	  <td>
		  <%=@deployment.project.name%>
	  </td>
  </tr>
  <tr>
	  <th>
		  Starting voltage
	  </th>
	  <td>
		  <%=@deployment.start_voltage%>V
		  <em><span style='margin-left: .3em'>as of <%=@deployment.start_date.strftime("%D")%></span></em>
	  </td>
  </tr>
</table>
<hr></hr>
<table class='batform'>
    <tr>
  	  <th><%= f.label :deployed_in %></th>
  	  <td><%= f.text_field :deployed_in%></td>
    </tr>
  <tr>
	  <th><%= f.label :end_voltage %></th>
	  <td><%= f.number_field :end_voltage, {min: 0, max: 24, step: 0.1} %></td>
  </tr>
  
  <tr>
	  <th><%= f.label :end_date %></th>
	  <td><%= f.date_select :end_date%></td>
  </tr>

</table>
<% end %>